<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>18/05/30 17:42:42</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ParentAps.setup()[pri:0, instance:firsttestngpackage.ParentAps@14bf9759]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1310540333</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/05/30 17:42:52</td>   <td>10325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParentAps.ParentAps_Assessment()[pri:0, instance:firsttestngpackage.ParentAps@14bf9759]">ParentAps_Assessment</td> 
  <td>main@1310540333</td>   <td></td> </tr>
</table>
